.fontOne {
  font-family: "Nunito Sans", sans-serif;
}
.fontTwo {
  font-family: "Indie Flower", cursive;
}
.fontThree {
  font-family: "Mrs Sheppards", cursive;
}
.fontFour {
  font-family: "Pacifico", cursive;
}
.fontFive {
  font-family: "Lobster", cursive;
}

.custom-look {
  color: whitesmoke;
  text-decoration: none;
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  background: #333;
  height: 70px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 22px;
}

@media screen and (min-width: 769px) {
  .custom-look {
    padding-left: 150px;
    padding-top: 15px;
    font-size: 30px;
  }
}
